# Project Luther: Soccer Players Values

Elvis Davalillo - info@elvisdavalillo.com

Part 1/2 - Scrapping, organization, and cleaning for soccer players data

Scrapped website: www.sofifa.com

Process:

    1.Webscraping basic player information from main subpage 
    2.Webscraping detailed player information from every player subpage
    3.Cleaning the data

In [ ]:
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

import random
import urllib.request
import requests
import warnings
import time
import random
from __future__ import print_function, division
from bs4 import BeautifulSoup

In [ ]:
# import requests
requests.__path__

In [ ]:
base_url = 'https://sofifa.com/players?offset='
response = requests.get(base_url)

In [ ]:
response.status_code # status code = 200 => OK

In [ ]:
page = response.text

In [ ]:
soup = BeautifulSoup(page, "html5")

In [ ]:
print(soup.tbody.prettify());

## Webscrape basic player information from main subpages

In [ ]:
# scrape data from thousands of players going through different offsets=subpages 
offset = 0
columns = ['ID', 'Name', 'Age', 'Country','Position','Overall', 'Potential', 'Team'
           , 'Value', 'Salary']
data = DataFrame(columns=columns)

In [ ]:
# start first with the basic player data from the url https://sofifa.com/players?offset=
for offset in range(0,300):
    offset+=1
    url = base_url + str(offset*61)
    source_code = requests.get(url)
    plain_text = source_code.text
    soup = BeautifulSoup(plain_text)
    table_body = soup.find('tbody')
    for row in table_body.findAll('tr'):
        td = row.findAll('td')
        player_id = td[0].find('img').get('id').strip()
        name = td[1].findAll('a')[1].text
        age = td[2].text.strip()
        country = td[1].find('a').get('title')
        position = td[1].findAll('a')[2].text
        overall = td[3].text.strip()
        potential = td[4].text.strip()
        club = td[5].findAll('a')[0].text
        value = td[7].text.strip()
        salary = td[8].text
        player_data = DataFrame([[player_id, name, age, country, position, overall, 
                                  potential, club, value, salary]])
        player_data.columns = columns
        data = data.append(player_data, ignore_index=True)
    data.to_csv('baseline_data.csv', encoding='utf-8')
    if (offset % 20 == 0):
        print(offset)

In [69]:
data = pd.read_csv('baseline_data.csv')
player = None
player_url = 'https://sofifa.com/player/'
id_list = data['ID']
count = 0
data.head(5)

,Unnamed: 0,ID,Name,Age,Country,Position,Overall,Potential,Team,Value,Salary
0,0,236007,E. Barco,19,Argentina,LM,74,89,Atlanta United,€12M,€4K
1,1,229582,G. Mancini,22,Italy,CB,74,85,Atalanta,€8.5M,€18K
2,2,232104,D. James,20,Wales,LM,70,82,Swansea City,€3.2M,€12K
3,3,235883,R. Sessegnon,18,England,LM,75,86,Fulham,€10.5M,€23K
4,4,224232,N. Barella,21,Italy,CM,79,89,Cagliari,€20M,€28K

In [70]:
# let's filter the player list to only include players from the largest 3 European Leagues
teams_by_league = pd.read_csv('teams_by_league.csv')

In [71]:
teams_by_league = teams_by_league.iloc[:,:2]

In [72]:
teams_filter = list(teams_by_league.Team)

In [73]:
small_data = data[data['Team'].isin(teams_filter)].reset_index()
small_data = small_data.drop(['index','Unnamed: 0'],axis=1)

In [74]:
# Add the league column so we can reference to it later
small_data = pd.merge(small_data,teams_by_league[['Team','League']],on='Team', how='left')

In [77]:
small_data.to_csv('small_player_data.csv', encoding='utf-8')

In [78]:
# Now let's gather the skills statistics for each player

In [79]:
skill_names = []

## Webscrape detailed player information from player subpage

In [ ]:
player_data_url = 'https://sofifa.com/player/'
r = 0
for index, row in small_data.iterrows():
    skill_names = []
    skill_map = {'ID' : str(row['ID'])}
    url = player_data_url + str(row['ID'])
    source_code = requests.get(url)
    plain_text = source_code.text
    soup = BeautifulSoup(plain_text)
    categories = soup.findAll('div', {'class': 'column col-4'})
    for category in categories[:-1]:
        skills = category.findAll('li')
        for skill in skills:
            a = skill.text.split()
            #print(a)
            a.reverse()
            value = a.pop()
            a.reverse()
            n = ' '.join(a)
            skill_names.append(n)
            skill_map[str(n)] = value
    attr_data = DataFrame(columns=skill_names)
    for key in skill_map.keys():
        attr_data.loc[r,key] = skill_map[key]
    r = r + 1
    master_data = pd.concat([master_data, attr_data])
    if r % 500 == 0:
        print(r)
        time.sleep(2)
        master_data.to_csv('skills_data.csv', encoding='utf-8')

In [80]:
master_data = DataFrame(columns=skill_names)

In [81]:
skills_data = pd.read_csv('skills_data.csv')

## Data Cleaning

In [82]:
skills_data = skills_data.drop(['Unnamed: 0'],axis=1)

In [83]:
skills_data.shape

(2000, 35)

In [84]:
# let's make ID the index for our DF to be able to merge the master_data set with the small_data set
skills_data = skills_data.set_index('ID')

In [85]:
small_data = small_data.set_index('ID')

In [86]:
# let's combine the basic data and the skills of the players

In [87]:
full_data = pd.merge(small_data,skills_data, left_index=True, right_index=True)

In [88]:
full_data.describe()

               Age      Overall    Potential
count  2004.000000  2004.000000  2004.000000
mean     24.943613    72.365768    77.750000
std       5.076973     8.054014     5.715494
min      16.000000    47.000000    52.000000
25%      21.000000    66.000000    74.000000
50%      25.000000    74.000000    78.000000
75%      29.000000    78.000000    82.000000
max      43.000000    94.000000    94.000000

In [89]:
full_data.columns

Index(['Name', 'Age', 'Country', 'Position', 'Overall', 'Potential', 'Team',
       'Value', 'Salary', 'League', 'Acceleration', 'Aggression', 'Agility',
       'Balance', 'Ball Control', 'Composure', 'Crossing', 'Curve',
       'Dribbling', 'FK Accuracy', 'Finishing', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Heading Accuracy',
       'Interceptions', 'Jumping', 'Long Passing', 'Long Shots', 'Marking',
       'Penalties', 'Positioning', 'Reactions', 'Short Passing', 'Shot Power',
       'Sliding Tackle', 'Sprint Speed', 'Stamina', 'Standing Tackle',
       'Strength', 'Vision', 'Volleys'],
      dtype='object')

In [90]:
# find column names with nan values 
null_columns = full_data.columns[full_data.isnull().any()]
full_data[null_columns].isnull().sum()

Agility           11
Balance           11
Composure         72
Curve             11
Jumping           11
Sliding Tackle    11
Vision            11
Volleys           11
dtype: int64

In [91]:
# find the rows that had nan values
full_data[full_data.isnull().any(axis=1)].loc[:, ["Agility", "Balance", "Composure", "Curve",
                                                  "Jumping", "Sliding Tackle", "Vision","Volleys"]]

       Agility Balance Composure Curve Jumping Sliding Tackle Vision Volleys
ID
185         45      43       NaN    12      74             12     34      14
241         72      70       NaN    87      59             51     83      75
246         68      82       NaN    74      64             36     91      85
450         75      80       NaN    68    82+9             24     76      73
1041        55      90       NaN    60      49             69     69      60
1109       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
1183       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
1198        53      65       NaN    56      74             19     57    80+2
1419        66      79       NaN  65-2      78           78-3   79-1      62
1615       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
1845       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
2956        53      56       NaN    45      67             70     76      73
3912        68      54       NaN    75      72             30     66      74
4077        75      78       NaN    85      69             25     76      58
4731        68      70       NaN    60      68             68     72      64
4738       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
5003       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
5099        72      66       NaN  78+5      67             78   74+5      72
5589       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
6235       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
6908        49      65       NaN    78      55             60     82      80
7142        53      58       NaN    44      71           76-1     37      46
7512      60+3    62-8       NaN    70      75             16   77-3      82
7612        45      64       NaN    83      75             64     70      61
9512       NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
10535       79      90       NaN    85      53             59     94      66
11141       64      61       NaN    65      89             22     64      76
11983       43      42       NaN    25      50             25     25      25
12259       69      58       NaN    56      74             75     79      67
13038       54      59       NaN    53      76             82     52      44
...        ...     ...       ...   ...     ...            ...    ...     ...
110082      45      60       NaN    25      62             25     36      25
111010      68      75       NaN    82      57             20     74      61
120202      69      64       NaN    67      73             80     63      47
120274      80      84       NaN    81      60             22     82      84
135455      72      71       NaN    80      71             77     65      80
135567      86      70       NaN    76      61             15     74      81
136130      44      44       NaN    47      84             78     35      36
137179      48      63       NaN    34      90             69     46      34
138871      60      50       NaN    76      75             30     60      68
140601      50      47       NaN    42      84             82     44      35
146641     NaN     NaN       NaN   NaN     NaN            NaN    NaN     NaN
146692      77      74       NaN    82      62             25     77      75
156272      76      75       NaN    77      66             47     72      71
158804      79      85       NaN    75      73             52     80      80
163386      57      69       NaN    44      68             46     57      24
164300      58      54       NaN    37      79             76     43      41
164978      79      82       NaN    74      52             52     75      71
165816      83      89       NaN    70      59             72     64      64
177831      39      40       NaN    25      67             25     25      25
187323      61      58       NaN    52      69           78+2  48+12      70
191092      71      72       NaN    34      50             19     48      26
191166    59+6    48-4       NaN  42-3    56-3           32-2   52+1    39-3
196382      65      65       NaN    40      51             25     37      57
205893      58      60       NaN    46      72             72     47      40
207715      82      78       NaN    70      66             23     63      74
208106      66      70       NaN    50      70             25     49      53
210393      82      79       NaN    56      58             39     60      48
212056      67      69       NaN    58      61             25     53      45
228482      57      64       NaN    43      60             66     33      35
231968      64      66       NaN    48      65             19     52      49

[72 rows x 8 columns]

In [92]:
#remove the rows with a large number of NaN
full_data = full_data.drop([1109,1183,1615,4738,5003,5589,6235,9512,146641]);

In [93]:
#fill the NaN with the feature average
full_data = full_data.fillna(full_data.mean())

In [94]:
#fill remaining NaN with zeros
full_data = full_data.fillna(0)

In [95]:
full_data['Value'],full_data['Salary'] = full_data['Value'].str.replace('€',''),full_data['Salary'].str.replace('€','')

In [96]:
#make the value column an integer number with the same unit across observations
full_data.Value = (full_data.Value.replace(r'[KM]+$', '', regex=True).astype(float) * \
        full_data.Value.str.extract(r'[\d\.]+([KM]+)', expand=False)
        .fillna(1)
        .replace(['K','M'], [10**3, 10**6]).astype(int))

In [97]:
full_data

,Name,Age,Country,Position,Overall,Potential,Team,Value,Salary,League,...,Reactions,Short Passing,Shot Power,Sliding Tackle,Sprint Speed,Stamina,Standing Tackle,Strength,Vision,Volleys
ID,,,,,,,,,,,,,,,,,,,,,
185,D. James,41,England,GK,65,65,Bournemouth,0.0,0,English Premier League,...,64,26,23,12,45,52,11,75,34,14
241,R. Giggs,39,Wales,LM,78,78,Manchester United,0.0,75K,English Premier League,...,76,85,71,51,60,48,43,61,83,75
246,P. Scholes,37,England,CM,80,80,Manchester United,0.0,0,English Premier League,...,82,89,88,36,53,34,49,63,91,85
450,D. Vassell,31,England,ST,69,69,Leicester City,0.0,0,English Premier League,...,67,54,76,24,83,74,26,69+3,76,73
768,Felipe,33,Brazil,CB,75,75,SPAL,2700000.0,13K,Italian Serie A,...,72,62,68,76,41,48,80,67,46,19
1041,J. Zanetti,39,Argentina,RM,75,75,Inter,0.0,0,Italian Serie A,...,80,84,71,69,69,55,75,77,69,60
1178,P. Cannavaro,36,Italy,CB,75,75,Sassuolo,900000.0,30K,Italian Serie A,...,66,62,72,75,31,36,76,75,50,33
1198,F. Inzaghi,37,Italy,ST,73,73,Milan,0.0,0,Italian Serie A,...,88,61,55-13,19,39-2,31,13,30,57,80+2
1238,F. Totti,39,Italy,CF,80,80,Roma,1500000.0,50K,Italian Serie A,...,79,90,88,10,34,54,24,75,91,90
1419,P. Vieira,34,France,CDM,76,87,Manchester City,0.0,0,English Premier League,...,72-4,79,75,78-3,61-3,68-5,79-3,84-1,79-1,62
1845,O. Solskjær,34,Norway,ST,75,83,Manchester United,0.0,0,English Premier League,...,76-2,70+9,72+6,0,64-10,58-19,24,59+16,0,0
2147,M. Stekelenburg,35,Netherlands,GK,73,73,Everton,950000.0,30K,English Premier League,...,72,39,13,14,36,30,15,77,40,11
2956,S. Petrov,32,Bulgaria,CM,76,76,Aston Villa,0.0,0,English Premier League,...,78,83,80,70,43,52,62,72,76,73
3912,L. Saha,33,France,ST,76,76,Lazio,0.0,0,Italian Serie A,...,74,64,84,30,74,47,30,73,66,74
4077,Simão,33,Portugal,LM,74,74,RCD Espanyol,0.0,0,Spain Primera Division,...,77,74,73,25,68,48,25,45,76,58
4098,Tiago,35,Portugal,CM,81,81,Atlético Madrid,5500000.0,50K,Spain Primera Division,...,77,84,77,69,55,67,77,76,82,67
4731,S. Perrotta,34,Italy,CM,72,72,Roma,0.0,0,Italian Serie A,...,72,74,74,68,68,67,70,66,72,64
5099,G. Zambrotta,34,Italy,RB,76,76,Milan,0.0,0,Italian Serie A,...,81,78,79,78,68+4,60+5,78,72,74+5,72
6908,D. Stanković,33,Serbia,CM,78,78,Inter,0.0,0,Italian Serie A,...,82,88,88,60,51,33,70,75,82,80
7142,K. Kaladze,33,Georgia,CB,76,76,Genoa,0.0,0,Italian Serie A,...,73,61-3,56,76-1,53,51,80-1,78,37,46
7512,H. Crespo,35,Argentina,ST,76,76,Parma,0.0,0,Italian Serie A,...,75,65,75,16,40-23,30-33,19,69-6,77-3,82
7612,I. Harte,36,Republic of Ireland,LB,63,63,Bournemouth,0.0,2K,English Premier League,...,67,68,86,64,29,34,68,70,70,61
7631,A. Cassano,33,Italy,CF,76,76,Sampdoria,3400000.0,20K,Italian Serie A,...,74,86,70,12,34,34,14,60,86,79
10535,Xavi,34,Spain,CM,86,86,FC Barcelona,15500000.0,150K,Spain Primera Division,...,90,93,67,59,65,60,61,60,94,66
11141,M. Klose,37,Germany,ST,79,79,Lazio,1300000.0,80K,Italian Serie A,...,74,69,76,22,69,53,26,72,64,76
11983,B. Friedel,43,United States,GK,77,77,Tottenham Hotspur,925000.0,25K,English Premier League,...,73,24,28,25,39,37,25,68,25,25
12259,S. Keita,35,Mali,CDM,76,76,Roma,900000.0,60K,Italian Serie A,...,76,79,79,75,67,55,79,77,79,67
13038,Puyol,35,Spain,CB,83,83,FC Barcelona,0.0,0,Spain Primera Division,...,81,70,71,82,64,54,85,84,52,44
13732,J. Terry,36,England,CB,76,76,Aston Villa,1000000.0,27K,English Premier League,...,73,67,61,76,34,50,73,83,59,55
17964,M. Petrov,33,Bulgaria,LM,72,72,RCD Espanyol,0.0,0,Spain Primera Division,...,81,72,87,24,68,53,22,63,79,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246947,P. Akouokou,20,Ivory Coast,CM,62,73,Real Betis,525000.0,3K,Spain Primera Division,...,59,64,59,56,65,61,63,67,62,42
246948,Irizo,20,Spain,CM,58,72,Real Betis,280000.0,2K,Spain Primera Division,...,55,64,61,38,64,59,44,61,59,34
246949,Victor Campuzano,21,Spain,ST,63,74,RCD Espanyol,650000.0,4K,Spain Primera Division,...,62,57,64,13,64,56,15,52,52,60
247026,A. Schäfer,19,Hungary,LM,62,77,Genoa,650000.0,1K,Italian Serie A,...,65,62,53,49,78,62,51,34,53,44
247076,C. Oliva,22,Uruguay,CM,70,78,Cagliari,2600000.0,15K,Italian Serie A,...,72,76,70,68,68,67,72,69,68,43
247089,Julio Alonso,19,Spain,LB,60,70,Real Betis,280000.0,1K,Spain Primera Division,...,58,54,51,60,70,60,59,55,44,36
247103,D. Hancko,20,Slovakia,LB,63,72,Fiorentina,500000.0,6K,Italian Serie A,...,58,58,46,68,53,67,67,69,48,48
247140,J. Benson,18,England,CM,59,72,Burnley,280000.0,3K,English Premier League,...,56,60,55,47,69,65,55,52,59,50
247170,Iago Indias,22,Spain,CB,61,67,RCD Espanyol,290000.0,3K,Spain Primera Division,...,59,51,56,62,61,65,64,60,44,28
247204,Emerson,19,Brazil,RB,71,83,Real Betis,3600000.0,6K,Spain Primera Division,...,69,66,65,73,84,71,70,73,54,44
247257,Ibañez,19,Brazil,CB,61,73,Atalanta,375000.0,2K,Italian Serie A,...,49,39,45,72,55,55,70,65,34,29
247328,Unai Vencedor,17,Spain,CM,63,81,Athletic Club de Bilbao,725000.0,2K,Spain Primera Division,...,60,64,65,43,66,67,63,63,64,44
247394,D. Kulusevski,18,Sweden,CM,64,80,Atalanta,925000.0,3K,Italian Serie A,...,63,70,64,58,69,54,58,54,62,42
247411,Altube,18,Spain,GK,60,80,Real Madrid,350000.0,3K,Spain Primera Division,...,60,27,20,14,15,25,14,59,32,6
247458,Alex Sola,19,Spain,RB,67,82,Real Sociedad,1500000.0,3K,Spain Primera Division,...,64,65,48,65,75,79,64,65,45,33
247496,Apa,18,Spain,RB,64,82,Real Valladolid CF,825000.0,2K,Spain Primera Division,...,60,55,23,60,86,65,63,55,50,27
247500,Edgar,21,Spain,CB,62,71,Real Betis,400000.0,2K,Spain Primera Division,...,56,61,45,58,53,62,65,73,49,30
247501,Garijo,19,Spain,CM,59,72,Real Betis,290000.0,2K,Spain Primera Division,...,59,63,59,49,62,52,52,59,61,41
247502,Tellado,19,Spain,RB,59,72,Real Betis,260000.0,1K,Spain Primera Division,...,63,57,49,56,72,51,54,51,46,39
247558,R. Doratiotto,19,Italy,CF,60,75,Cagliari,450000.0,3K,Italian Serie A,...,57,57,59,18,68,34,17,48,57,59
247564,F. Verde,18,Italy,ST,62,78,Cagliari,625000.0,3K,Italian Serie A,...,55,54,58,25,51,54,26,65,55,53
247793,Seoane,21,Spain,CM,65,73,Real Madrid,800000.0,20K,Spain Primera Division,...,65,65,58,59,74,66,61,54,66,44
247806,Mikel Carro,19,Spain,CM,64,75,Atlético Madrid,750000.0,5K,Spain Primera Division,...,64,68,52,59,54,54,63,64,64,41
247854,M. El Hacen,20,Mauritania,CDM,68,81,Real Valladolid CF,1500000.0,5K,Spain Primera Division,...,68,62,51,67,54,72,72,83,58,38
247887,D. Merola,18,Italy,ST,60,75,Inter,425000.0,4K,Italian Serie A,...,55,50,64,22,65,52,21,60,50,43
248148,Zubimendi,19,Spain,CM,58,67,Real Sociedad,190000.0,2K,Spain Primera Division,...,61,61,53,48,62,49,39,54,60,38
248165,A. Ratiu,20,Romania,RB,61,73,Villarreal CF,400000.0,3K,Spain Primera Division,...,60,59,60,58,68,61,58,54,52,59
248456,Miguel Marí,21,Spain,CM,64,75,SD Eibar,775000.0,4K,Spain Primera Division,...,63,65,62,45,65,63,52,58,68,45
248550,Dani Vivian,18,Spain,CB,64,77,Athletic Club de Bilbao,725000.0,2K,Spain Primera Division,...,60,51,46,63,63,62,64,71,40,38
248710,Paulino,21,Spain,RM,64,75,Deportivo Alavés,775000.0,4K,Spain Primera Division,...,57,63,60,30,72,57,25,45,64,47

In [98]:
#make the salary column an integer number with the same unit across observations
full_data.Salary = (full_data.Salary.replace(r'[KM]+$', '', regex=True).astype(float) * \
        full_data.Salary.str.extract(r'[\d\.]+([KM]+)', expand=False)
        .fillna(1)
        .replace(['K','M'], [10**3, 10**6]).astype(int))

In [99]:
numerical_columns_1 = ['Acceleration', 'Aggression', 'Agility', 'Balance',
       'Ball Control', 'Composure', 'Crossing', 'Curve', 'Dribbling',
       'FK Accuracy', 'Finishing', 'GK Diving', 'GK Handling', 'GK Kicking',
       'GK Positioning', 'GK Reflexes', 'Heading Accuracy', 'Interceptions',
       'Jumping', 'Long Passing', 'Long Shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short Passing', 'Shot Power',
       'Sliding Tackle', 'Sprint Speed', 'Stamina', 'Standing Tackle',
       'Strength', 'Vision', 'Volleys']

In [100]:
#before converting the features to integers we need to get rid of "-" in the data
for skill in numerical_columns_1:
    full_data[skill] = full_data[skill].map(lambda x: str(x)[:2])

In [101]:
#Let's convert the numerical columns to integers
numerical_columns_2 = ['Age','Overall', 'Potential',
       'Value', 'Salary', 'Acceleration', 'Aggression', 'Agility', 'Balance',
       'Ball Control', 'Composure', 'Crossing', 'Curve', 'Dribbling',
       'FK Accuracy', 'Finishing', 'GK Diving', 'GK Handling', 'GK Kicking',
       'GK Positioning', 'GK Reflexes', 'Heading Accuracy', 'Interceptions',
       'Jumping', 'Long Passing', 'Long Shots', 'Marking', 'Penalties',
       'Positioning', 'Reactions', 'Short Passing', 'Shot Power',
       'Sliding Tackle', 'Sprint Speed', 'Stamina', 'Standing Tackle',
       'Strength', 'Vision', 'Volleys']

In [102]:
#converting numerical columns to int
for column in numerical_columns_2:
    full_data[column] = full_data[column].map(lambda x: int(x))

In [103]:
full_data.dtypes

Name                object
Age                  int64
Country             object
Position            object
Overall              int64
Potential            int64
Team                object
Value                int64
Salary               int64
League              object
Acceleration         int64
Aggression           int64
Agility              int64
Balance              int64
Ball Control         int64
Composure            int64
Crossing             int64
Curve                int64
Dribbling            int64
FK Accuracy          int64
Finishing            int64
GK Diving            int64
GK Handling          int64
GK Kicking           int64
GK Positioning       int64
GK Reflexes          int64
Heading Accuracy     int64
Interceptions        int64
Jumping              int64
Long Passing         int64
Long Shots           int64
Marking              int64
Penalties            int64
Positioning          int64
Reactions            int64
Short Passing        int64
Shot Power           int64
Sliding Tackle       int64
Sprint Speed         int64
Stamina              int64
Standing Tackle      int64
Strength             int64
Vision               int64
Volleys              int64
dtype: object

In [104]:
full_data.to_csv('full_data.csv', encoding='utf-8')