In [1]:
#İmport all required libaries first.
import pandas as pd
import numpy as np
import matplotlib as plot
%matplotlib inline
import seaborn as sns
from bs4 import BeautifulSoup
import requests

from random import randint
from time import sleep

In [5]:
url_s = 'https://fmdataba.com/21/fm-2021-best-strikers-center/'
url_aml = 'https://fmdataba.com/21/fm-2021-best-attacking-midfielders-left/'
url_amr = 'https://fmdataba.com/21/fm-2021-best-attacking-midfielders-right/'
url_amc = 'https://fmdataba.com/21/fm-2021-best-attacking-midfielders-center/'

In [6]:
response = requests.get(url_s)

In [7]:
response.status_code

422

In [64]:
headers = {'Accept-Language': 'en-gb'}
response = requests.get(url_s, headers=headers)
response.status_code

422

In [65]:
from fake_useragent import UserAgent
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

response = requests.get(url_s, headers=headers)
response.status_code

200

In [13]:
soup = BeautifulSoup(response.text,"html.parser")

In [25]:
table = soup.find('table')

In [66]:
header_list = ['Nation','dummy' ,'Name','Club', 'Age','Value', 'Ove', 'Att', 'Def', 'Tec', 'Men', 'Phy' ,'Spe'] 
df = pd.DataFrame(columns = header_list)

for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [tr.text for tr in row_data]
    if row != ['\n\n\n\n']:
        length = len(df)
        df.loc[length] = row        
df

,Nation,dummy,Name,Club,Age,Value,Ove,Att,Def,Tec,Men,Phy,Spe
0,Argentin,,"Lionel MessiAMC, AMR, STC",FC Barcelo,33,€ 50.0M,16,19,8,20,15,14,17
1,Portugal,,"Cristiano RonaldoAML, STC, AMR",Zebre,35,€ 10.0M,15,16,12,16,14,16,15
2,France,,"Kylian MbappéAML, AMR, STC",Paris Sain,21,€ 90.0M,13,15,7,16,13,15,19
3,Brazil,,"NeymarML, AMC, AML, STC",Paris Sain,28,€ 90.0M,16,17,6,19,13,14,18
4,Poland,,Robert LewandowskiSTC,Bayern Mun,31,€ 70.0M,15,14,11,15,15,16,13
5,England,,"Harry KaneSTC, AMC",Tottenham,27,€ 90.0M,15,15,12,15,16,14,13
6,Senegal,,"Sadio ManéAML, AMR, STC",Liverpool,28,€ 90.0M,15,15,12,16,14,15,17
7,Egypt,,"Mohamed SalahAML, AMR, STC",Liverpool,28,€ 90.0M,15,15,10,16,14,15,17
8,Argentin,,"Sergio AgüeroAMC, STC",Manchester,32,€ 60.0M,14,15,9,17,14,15,17
9,France,,"Antoine GriezmannAMC, AML, AMR, STC",FC Barcelo,29,€ 70.0M,15,16,11,17,14,13,15
10,Uruguay,,Luis SuárezSTC,Atlético d,33,€ 40.0M,15,16,11,16,16,13,14
11,France,,Karim BenzemaSTC,Real Madri,32,€ 50.0M,14,16,12,18,14,14,15
12,Norway,,Erling HaalandSTC,Borussia D,20,€ 70.0M,14,13,12,13,14,15,15
13,Argentin,,"Paulo DybalaAMC, AMR, STC",Zebre,26,€ 60.0M,14,17,8,18,13,14,16
14,Wales,,"Gareth BaleAMC, AML, AMR, STC, ML",Tottenham,31,€ 50.0M,13,16,12,15,11,14,14
15,Brazil,,"Roberto FirminoAMC, STC, AML, AMR",Liverpool,28,€ 70.0M,15,14,13,16,15,15,14
16,Sweden,,Zlatan IbrahimovicSTC,Milan,38,€ 3.0M,15,16,11,17,15,14,11
17,Belgium,,Romelu LukakuSTC,Inter,27,€ 60.0M,15,12,13,13,15,17,14
18,Argentin,,Gonzalo HiguaínSTC,Inter Miam,32,€ 3.0M,14,14,11,15,14,13,12
19,Germany,,"Serge GnabryML, MR, AML, AMR, STC",Bayern Mun,25,€ 60.0M,13,14,9,14,12,14,16
20,Argentin,,Lautaro MartínezSTC,Inter,22,€ 40.0M,15,13,11,15,15,15,15
21,South Ko,,"Heung-Min SonAML, AMR, STC, ML, MR",Tottenham,28,€ 70.0M,13,14,9,14,13,14,15
22,Portugal,,"João FélixAMC, AML, STC, AMR",Atlético d,20,€ 60.0M,13,16,8,17,14,12,14
23,Chile,,"Alexis SánchezAML, AMR, STC, AMC",Inter,31,€ 20.0M,14,15,9,16,14,12,16
24,Gabon,,"Pierre-Emerick AubameyangAML, STC, AMR",Arsenal,31,€ 50.0M,14,14,11,13,14,15,16
25,Argentin,,Mauro IcardiSTC,Paris Sain,27,€ 50.0M,13,13,10,14,13,14,14
26,England,,"Marcus RashfordAML, STC",Manchester,22,€ 60.0M,14,14,8,15,13,15,17
27,Brazil,,"Gabriel JesusAML, STC, AMR",Manchester,23,€ 60.0M,13,14,10,15,13,14,16
28,Germany,,"Thomas MüllerMR, AMC, AMR, STC",Bayern Mun,30,€ 50.0M,14,14,10,13,16,14,12
29,Italy,,"Ciro ImmobileAMC, STC",Lazio,30,€ 50.0M,15,12,10,13,15,15,14

In [68]:
for i in range(1,10):
    url = 'https://fmdataba.com/21/fm-2021-best-strikers-center/'+str(i)
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    response = requests.get(url_s, headers=headers)
    sleep(randint(3,10))
    soup = BeautifulSoup(response.text,"html.parser")
    table = soup.find('table') 
    for j in table.find_all('tr')[1:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        if row != ['\n\n\n\n']:
            length = len(df)
            df.loc[length] = row

In [72]:
df

,Nation,dummy,Name,Club,Age,Value,Ove,Att,Def,Tec,Men,Phy,Spe
0,Argentin,,"Lionel MessiAMC, AMR, STC",FC Barcelo,33,€ 50.0M,16,19,8,20,15,14,17
1,Portugal,,"Cristiano RonaldoAML, STC, AMR",Zebre,35,€ 10.0M,15,16,12,16,14,16,15
2,France,,"Kylian MbappéAML, AMR, STC",Paris Sain,21,€ 90.0M,13,15,7,16,13,15,19
3,Brazil,,"NeymarML, AMC, AML, STC",Paris Sain,28,€ 90.0M,16,17,6,19,13,14,18
4,Poland,,Robert LewandowskiSTC,Bayern Mun,31,€ 70.0M,15,14,11,15,15,16,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Argentin,,Mauro IcardiSTC,Paris Sain,27,€ 50.0M,13,13,10,14,13,14,14
296,England,,"Marcus RashfordAML, STC",Manchester,22,€ 60.0M,14,14,8,15,13,15,17
297,Brazil,,"Gabriel JesusAML, STC, AMR",Manchester,23,€ 60.0M,13,14,10,15,13,14,16
298,Germany,,"Thomas MüllerMR, AMC, AMR, STC",Bayern Mun,30,€ 50.0M,14,14,10,13,16,14,12
299,Italy,,"Ciro ImmobileAMC, STC",Lazio,30,€ 50.0M,15,12,10,13,15,15,14

In [70]:
%pylab inline
%config InlineBackend.figure_formats = ['retina']

import pandas as pd
import seaborn as sns
sns.set()

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Populating the interactive namespace from numpy and matplotlib

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\magics\pylab.py:159: UserWarning: pylab import has clobbered these variables: ['table', 'title', 'randint', 'plot']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +

In [76]:
df2 = df[:]

In [79]:
df2.set_index('Name')

,Nation,dummy,Club,Age,Value,Ove,Att,Def,Tec,Men,Phy,Spe
Name,,,,,,,,,,,,
"Lionel MessiAMC, AMR, STC",Argentin,,FC Barcelo,33,€ 50.0M,16,19,8,20,15,14,17
"Cristiano RonaldoAML, STC, AMR",Portugal,,Zebre,35,€ 10.0M,15,16,12,16,14,16,15
"Kylian MbappéAML, AMR, STC",France,,Paris Sain,21,€ 90.0M,13,15,7,16,13,15,19
"NeymarML, AMC, AML, STC",Brazil,,Paris Sain,28,€ 90.0M,16,17,6,19,13,14,18
Robert LewandowskiSTC,Poland,,Bayern Mun,31,€ 70.0M,15,14,11,15,15,16,13
...,...,...,...,...,...,...,...,...,...,...,...,...
Mauro IcardiSTC,Argentin,,Paris Sain,27,€ 50.0M,13,13,10,14,13,14,14
"Marcus RashfordAML, STC",England,,Manchester,22,€ 60.0M,14,14,8,15,13,15,17
"Gabriel JesusAML, STC, AMR",Brazil,,Manchester,23,€ 60.0M,13,14,10,15,13,14,16
"Thomas MüllerMR, AMC, AMR, STC",Germany,,Bayern Mun,30,€ 50.0M,14,14,10,13,16,14,12
"Ciro ImmobileAMC, STC",Italy,,Lazio,30,€ 50.0M,15,12,10,13,15,15,14

In [ ]:
df2 = df2 ['Age','Value','Ove',]